.scorecontainer {
    background-color: #1a1919;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(32, 31, 31, 0.1);
  }
  
  .title {
    font-size: 2rem;
    color: #e6ab35;
    margin-bottom: 20px;
  }
  
  .scoreboard, .playerinfo, .playerruns {
    margin-bottom: 20px;
  }
  
  .scoreboard p, .playerinfo p, .playerruns ul {
    font-size: 1.2rem;
    color: #e7e7e7;
  }
  
  .playerruns h2{
    color: #e6ab35;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .buttons button {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
  }
  
  .buttons button:hover {
    background-color: #0056b3;
  }
  
  .playerruns ul {
    list-style: none;
    padding: 0;
  }
  
  .playerruns li {
    margin-bottom: 10px;
  }

  /* ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  } */
  